<footer class="main-foot">
    <div class="foot-contact-block-wrap">
        <div class="container">
            <div class="foot-contact-block coll-2">
                <a class="navbar-brand" href="/">
                    <img src="new/klfindia logo.png"
                        alt="KLF Logo">
                </a>
                <div class="foot-contact-action-line">
                    <h4 class="subtitle-section">Get In Touch <span>With Us</span></h4>
                    <a href="/contact-us" class="btn-contact">
                        <div class="icon hexagon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.739" height="11.601"
                                viewBox="0 0 16.739 11.601">
                                <path
                                    d="M562.788,368.549q3.314,0,6.627,0a1.649,1.649,0,0,1,1.68,1.27,2.223,2.223,0,0,1,.05.495q0,4.034,0,8.068a1.662,1.662,0,0,1-1.771,1.766h-13.2a1.662,1.662,0,0,1-1.77-1.766q0-4.034,0-8.068a1.662,1.662,0,0,1,1.77-1.765Q559.484,368.548,562.788,368.549ZM565.4,374c-.063.052-.117.1-.168.142q-1.066.94-2.132,1.881c-.278.245-.367.245-.639.005l-2.146-1.894c-.05-.044-.1-.086-.158-.133l-4.67,5.33a1.112,1.112,0,0,0,.716.185h13.217a.974.974,0,0,0,.653-.192Zm-9.66-4.745,7.038,6.212,7.034-6.209C569.589,369.156,555.988,369.152,555.742,369.254Zm-.5.4-.077,0a3.578,3.578,0,0,0-.109.586c-.014.614,0,1.229,0,1.843q0,3.169,0,6.337c0,.122.019.244.034.417l4.607-5.257Zm15.2,9.125.055,0c.008-.131.024-.263.024-.394q0-3.043,0-6.086,0-1.037,0-2.074a.823.823,0,0,0-.182-.573l-4.457,3.934Z"
                                    transform="translate(-554.409 -368.549)" fill="#fff" />
                            </svg>
                        </div>
                        <span>Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navbar-foot">
            <nav>
                <ul id="menu-footer-menu" class="foot-menu coll-4">
                    <li id="menu-item-616"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-616"><a
                            href="/about-us">About Us</a></li>
                    <li id="menu-item-618"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-618"><a
                            href="/services">Services</a></li>
                    <li id="menu-item-621"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-621"><a
                            href="/our-team">Our Team</a></li>
                    <li id="menu-item-3911"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3911"><a
                            href="/our-partners">Our Partners</a></li>
                    <li id="menu-item-124"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124"><a
                            href="/resources">Resources</a></li>
                    <!-- <li id="menu-item-617"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-617"><a
                            href="#">Insights &#038; News</a></li>
                    <li id="menu-item-3769"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3769"><a
                            href="#">ESG</a></li>
                    <li id="menu-item-619"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619"><a
                            href="#">Contact</a></li> -->
                </ul>
            </nav>
        </div>
        <div class="navbar-foot-bottom">
            <!-- <nav>
                <ul id="menu-legal-menu" class="">
                    <li id="menu-item-659"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-659"><a
                            href="legal-information/index.html">Legal Information</a></li>
                </ul>
            </nav> -->
            <div class="foot-copyright">
                ©2022
                KLF India | All Rights Reserved | <a href="h#" target="_blank">Developers Infotech Pvt. Ltd.</a>
            </div>
        </div>
    </div>
</footer>


<!-- Trigger/Open The Modal -->
<button id="myBtn" style="display: none;">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-header">
        <h3>Disclaimer!</h3>
    </div>
    <div class="model-contents">

        <p>Contents!</p>
        <button class="close">Accept & Close</button>
    </div>
  </div>

</div>


<style>
    /* The Modal (background) */
    .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Body */
.modal-body {padding: 2px 16px;}

/* .modal-content {
  background-color: #fefefe;
  margin: 15% auto;  15% from the top and centered 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;  Could be more or less, depending on screen size 
} */

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  /* position: relative; */
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  /* animation-name: animatetop; */
  animation-duration: 0.4s
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>



<script>
    var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


<div id="cookie-law-info-bar" data-nosnippet="true"><span>
        <div class="cli-bar-container cli-style-v2">
            <div class="cli-bar-message">We use cookies on our website to give you the most relevant experience by
                remembering your preferences and repeat visits. By clicking “Accept All”, you consent to the use of
                ALL the cookies. However, you may visit "Cookie Settings" to provide a controlled consent.</div>
            <div class="cli-bar-btn_container"><a role='button' tabindex='0'
                    class="medium cli-plugin-button cli-plugin-main-button cli_settings_button"
                    style="margin:0px 5px 0px 0px;" id="cookie-button">Cookie Settings</a><a id="wt-cli-accept-all-btn" tabindex="0"
                    role='button' data-cli_action="accept_all"
                    class="wt-cli-element medium cli-plugin-button wt-cli-accept-all-btn cookie_action_close_header cli_action_button">Accept
                    All</a></div>
        </div>
    </span></div>
<div id="cookie-law-info-again" style="display:block;" data-nosnippet="true"><span id="cookie_hdr_showagain">Manage
        consent</span></div>
<div class="cli-modal" data-nosnippet="true" id="cliSettingsPopup" tabindex="-1" role="dialog"
    aria-labelledby="cliSettingsPopup" aria-hidden="true">
    <div class="cli-modal-dialog" role="document">
        <div class="cli-modal-content cli-bar-popup">
            <button type="button" class="cli-modal-close" id="cliModalClose">
                <svg class="" viewBox="0 0 24 24">
                    <path
                        d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z">
                    </path>
                    <path d="M0 0h24v24h-24z" fill="none"></path>
                </svg>
                <span class="wt-cli-sr-only">Close</span>
            </button>
            <div class="cli-modal-body">
                <div class="cli-container-fluid cli-tab-container">
                    <div class="cli-row">
                        <div class="cli-col-12 cli-align-items-stretch cli-px-0">
                            <div class="cli-privacy-overview">
                                <h4>Privacy Overview</h4>
                                <div class="cli-privacy-content">
                                    <div class="cli-privacy-content-text">This website uses cookies to improve your
                                        experience while you navigate through the website. Out of these, the cookies
                                        that are categorized as necessary are stored on your browser as they are
                                        essential for the working of basic functionalities of the website. We also
                                        use third-party cookies that help us analyze and understand how you use this
                                        website. These cookies will be stored in your browser only with your
                                        consent. You also have the option to opt-out of these cookies. But opting
                                        out of some of these cookies may affect your browsing experience.</div>
                                </div>
                                <a class="cli-privacy-readmore" aria-label="Show more" tabindex="0" role="button"
                                    data-readmore-text="Show more" data-readless-text="Show less"></a>
                            </div>
                        </div>
                        <div class="cli-col-12 cli-align-items-stretch cli-px-0 cli-tab-section-container">
                            <div class="cli-tab-section">
                                <div class="cli-tab-header">
                                    <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile"
                                        data-target="necessary" data-toggle="cli-toggle-tab">
                                        Necessary </a>
                                    <div class="wt-cli-necessary-checkbox">
                                        <input type="checkbox" class="cli-user-preference-checkbox"
                                            id="wt-cli-checkbox-necessary" data-id="checkbox-necessary"
                                            checked="checked" />
                                        <label class="form-check-label"
                                            for="wt-cli-checkbox-necessary">Necessary</label>
                                    </div>
                                    <span class="cli-necessary-caption">Always Enabled</span>
                                </div>
                                <div class="cli-tab-content">
                                    <div class="cli-tab-pane cli-fade" data-id="necessary">
                                        <div class="wt-cli-cookie-description">
                                            Necessary cookies are absolutely essential for the website to function
                                            properly. These cookies ensure basic functionalities and security
                                            features of the website, anonymously.
                                            <table class="cookielawinfo-row-cat-table cookielawinfo-winter">
                                                <thead>
                                                    <tr>
                                                        <th class="cookielawinfo-column-1">Cookie</th>
                                                        <th class="cookielawinfo-column-3">Duration</th>
                                                        <th class="cookielawinfo-column-4">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="cookielawinfo-row">
                                                        <td class="cookielawinfo-column-1">
                                                            cookielawinfo-checkbox-analytics</td>
                                                        <td class="cookielawinfo-column-3">11 months</td>
                                                        <td class="cookielawinfo-column-4">This cookie is set by
                                                            GDPR Cookie Consent plugin. The cookie is used to store
                                                            the user consent for the cookies in the category
                                                            "Analytics".</td>
                                                    </tr>
                                                    <tr class="cookielawinfo-row">
                                                        <td class="cookielawinfo-column-1">
                                                            cookielawinfo-checkbox-functional</td>
                                                        <td class="cookielawinfo-column-3">11 months</td>
                                                        <td class="cookielawinfo-column-4">The cookie is set by GDPR
                                                            cookie consent to record the user consent for the
                                                            cookies in the category "Functional".</td>
                                                    </tr>
                                                    <tr class="cookielawinfo-row">
                                                        <td class="cookielawinfo-column-1">
                                                            cookielawinfo-checkbox-necessary</td>
                                                        <td class="cookielawinfo-column-3">11 months</td>
                                                        <td class="cookielawinfo-column-4">This cookie is set by
                                                            GDPR Cookie Consent plugin. The cookies is used to store
                                                            the user consent for the cookies in the category
                                                            "Necessary".</td>
                                                    </tr>
                                                    <tr class="cookielawinfo-row">
                                                        <td class="cookielawinfo-column-1">
                                                            cookielawinfo-checkbox-others</td>
                                                        <td class="cookielawinfo-column-3">11 months</td>
                                                        <td class="cookielawinfo-column-4">This cookie is set by
                                                            GDPR Cookie Consent plugin. The cookie is used to store
                                                            the user consent for the cookies in the category "Other.
                                                        </td>
                                                    </tr>
                                                    <tr class="cookielawinfo-row">
                                                        <td class="cookielawinfo-column-1">
                                                            cookielawinfo-checkbox-performance</td>
                                                        <td class="cookielawinfo-column-3">11 months</td>
                                                        <td class="cookielawinfo-column-4">This cookie is set by
                                                            GDPR Cookie Consent plugin. The cookie is used to store
                                                            the user consent for the cookies in the category
                                                            "Performance".</td>
                                                    </tr>
                                                    <tr class="cookielawinfo-row">
                                                        <td class="cookielawinfo-column-1">viewed_cookie_policy</td>
                                                        <td class="cookielawinfo-column-3">11 months</td>
                                                        <td class="cookielawinfo-column-4">The cookie is set by the
                                                            GDPR Cookie Consent plugin and is used to store whether
                                                            or not user has consented to the use of cookies. It does
                                                            not store any personal data.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cli-tab-section">
                                <div class="cli-tab-header">
                                    <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile"
                                        data-target="functional" data-toggle="cli-toggle-tab">
                                        Functional </a>
                                    <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-functional"
                                            class="cli-user-preference-checkbox" data-id="checkbox-functional" />
                                        <label for="wt-cli-checkbox-functional" class="cli-slider"
                                            data-cli-enable="Enabled" data-cli-disable="Disabled"><span
                                                class="wt-cli-sr-only">Functional</span></label>
                                    </div>
                                </div>
                                <div class="cli-tab-content">
                                    <div class="cli-tab-pane cli-fade" data-id="functional">
                                        <div class="wt-cli-cookie-description">
                                            Functional cookies help to perform certain functionalities like sharing
                                            the content of the website on social media platforms, collect feedbacks,
                                            and other third-party features.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cli-tab-section">
                                <div class="cli-tab-header">
                                    <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile"
                                        data-target="performance" data-toggle="cli-toggle-tab">
                                        Performance </a>
                                    <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-performance"
                                            class="cli-user-preference-checkbox" data-id="checkbox-performance" />
                                        <label for="wt-cli-checkbox-performance" class="cli-slider"
                                            data-cli-enable="Enabled" data-cli-disable="Disabled"><span
                                                class="wt-cli-sr-only">Performance</span></label>
                                    </div>
                                </div>
                                <div class="cli-tab-content">
                                    <div class="cli-tab-pane cli-fade" data-id="performance">
                                        <div class="wt-cli-cookie-description">
                                            Performance cookies are used to understand and analyze the key
                                            performance indexes of the website which helps in delivering a better
                                            user experience for the visitors.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cli-tab-section">
                                <div class="cli-tab-header">
                                    <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile"
                                        data-target="analytics" data-toggle="cli-toggle-tab">
                                        Analytics </a>
                                    <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-analytics"
                                            class="cli-user-preference-checkbox" data-id="checkbox-analytics" />
                                        <label for="wt-cli-checkbox-analytics" class="cli-slider"
                                            data-cli-enable="Enabled" data-cli-disable="Disabled"><span
                                                class="wt-cli-sr-only">Analytics</span></label>
                                    </div>
                                </div>
                                <div class="cli-tab-content">
                                    <div class="cli-tab-pane cli-fade" data-id="analytics">
                                        <div class="wt-cli-cookie-description">
                                            Analytical cookies are used to understand how visitors interact with the
                                            website. These cookies help provide information on metrics the number of
                                            visitors, bounce rate, traffic source, etc.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cli-tab-section">
                                <div class="cli-tab-header">
                                    <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile"
                                        data-target="advertisement" data-toggle="cli-toggle-tab">
                                        Advertisement </a>
                                    <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-advertisement"
                                            class="cli-user-preference-checkbox" data-id="checkbox-advertisement" />
                                        <label for="wt-cli-checkbox-advertisement" class="cli-slider"
                                            data-cli-enable="Enabled" data-cli-disable="Disabled"><span
                                                class="wt-cli-sr-only">Advertisement</span></label>
                                    </div>
                                </div>
                                <div class="cli-tab-content">
                                    <div class="cli-tab-pane cli-fade" data-id="advertisement">
                                        <div class="wt-cli-cookie-description">
                                            Advertisement cookies are used to provide visitors with relevant ads and
                                            marketing campaigns. These cookies track visitors across websites and
                                            collect information to provide customized ads.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cli-tab-section">
                                <div class="cli-tab-header">
                                    <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile"
                                        data-target="others" data-toggle="cli-toggle-tab">
                                        Others </a>
                                    <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-others"
                                            class="cli-user-preference-checkbox" data-id="checkbox-others" />
                                        <label for="wt-cli-checkbox-others" class="cli-slider"
                                            data-cli-enable="Enabled" data-cli-disable="Disabled"><span
                                                class="wt-cli-sr-only">Others</span></label>
                                    </div>
                                </div>
                                <div class="cli-tab-content">
                                    <div class="cli-tab-pane cli-fade" data-id="others">
                                        <div class="wt-cli-cookie-description">
                                            Other uncategorized cookies are those that are being analyzed and have
                                            not been classified into a category as yet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cli-modal-footer">
                <div class="wt-cli-element cli-container-fluid cli-tab-container">
                    <div class="cli-row">
                        <div class="cli-col-12 cli-align-items-stretch cli-px-0">
                            <div class="cli-tab-footer wt-cli-privacy-overview-actions">

                                <a id="wt-cli-privacy-save-btn" role="button" tabindex="0" data-cli-action="accept"
                                    class="wt-cli-privacy-btn cli_setting_save_button wt-cli-privacy-accept-btn cli-btn">SAVE
                                    & ACCEPT</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cli-modal-backdrop cli-fade cli-settings-overlay"></div>
<div class="cli-modal-backdrop cli-fade cli-popupbar-overlay"></div>
<!--googleon: all-->
<link rel='stylesheet' id='cookie-law-info-table-css'
    href='wp-content/plugins/cookie-law-info/public/css/cookie-law-info-tablea7f4.css?ver=2.0.8' type='text/css'
    media='all' />
<script type='text/javascript' id='eio-lazy-load-js-before'>
    var eio_lazy_vars = { "exactdn_domain": "emxo588uoaz.exactdn.com", "skip_autoscale": 0, "threshold": 0 };
</script>
<script type='text/javascript' src='wp-content/plugins/ewww-image-optimizer/includes/lazysizes.minf503.js?ver=630'
    id='eio-lazy-load-js'></script>
<script type='text/javascript' src='wp-content/themes/cbd/js/libs998f.js?ver=1623481164'
    id='cbd-libs-js-js'></script>
<script type='text/javascript' src='wp-content/themes/cbd/js/script1475.js?ver=1645715000'
    id='cbd-sript-js-js'></script>
<script type='text/javascript' src='wp-includes/js/wp-embed.mina4a0.js?ver=5.7.5' id='wp-embed-js'></script>

<script>
    $(window).on('load', function () {
        AOS.init({ offset: 10, duration: 800, easing: 'ease-in-out-sine', });
    });
</script>

</body>

</html>
