<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<meta name="theme-color" content="#ffffff">
	<link rel="icon" href="wp-content/themes/cbd/favicon.ico">


	<title>Kumar Law Firm India</title>
	<meta name="description" content="Home - find out more here." />
	<link rel="canonical" href="index.html" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Kumar Law Firm India" />
	<meta property="og:description" content="Home - find out more here." />


	<link rel='dns-prefetch' href='http://s.w.org/' />
	<link rel='dns-prefetch' href='http://emxo588uoaz.exactdn.com/' />
	<link rel='preconnect' href='http://emxo588uoaz.exactdn.com/' />
	
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel='stylesheet' id='wp-block-library-css'
		href='wp-includes/css/dist/block-library/style.mina4a0.css?ver=5.7.5' type='text/css' media='all' />
	<link rel='stylesheet' id='cookie-law-info-css'
		href='wp-content/plugins/cookie-law-info/public/css/cookie-law-info-publica7f4.css?ver=2.0.8' type='text/css'
		media='all' />
	<link rel='stylesheet' id='cookie-law-info-gdpr-css'
		href='wp-content/plugins/cookie-law-info/public/css/cookie-law-info-gdpra7f4.css?ver=2.0.8' type='text/css'
		media='all' />
	<link rel='stylesheet' id='cbd-libs-css-css' href='wp-content/themes/cbd/css/libsa4a0.css?ver=5.7.5' type='text/css'
		media='all' />
	<link rel='stylesheet' id='cbd-style-css-css' href='wp-content/themes/cbd/css/stylea4a0.css?ver=5.7.5'
		type='text/css' media='all' />
	<script type='text/javascript' src='wp-includes/js/jquery/jquery.min9d52.js?ver=3.5.1' id='jquery-core-js'></script>
	<script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.mind617.js?ver=3.3.2'
		id='jquery-migrate-js'></script>
	
	<script type='text/javascript'
		src='wp-content/plugins/cookie-law-info/public/js/cookie-law-info-publica7f4.js?ver=2.0.8'
		id='cookie-law-info-js'></script>
	<link rel="https://api.w.org/" href="wp-json/index.html" />
	<link rel="alternate" type="application/json" href="wp-json/wp/v2/pages/110.json" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.html?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
	<meta name="generator" content="WordPress 5.7.5" />
	<link rel='shortlink' href='index.html' />
	<link rel="alternate" type="application/json+oembed"
		href="wp-json/oembed/1.0/embedbb87.json?url=https%3A%2F%2Falvariuminvestments.com%2F" />
	<link rel="alternate" type="text/xml+oembed"
		href="wp-json/oembed/1.0/embed9f45?url=https%3A%2F%2Falvariuminvestments.com%2F&amp;format=xml" />
	<script type="text/javascript" src="../www.bugherd.com/sidebarv2ea66.js?apikey=uxhrtiizvaimzhowl1dtua"
		async="true"></script>
	<script>
		var ajaxurl = 'https://alvariuminvestments.com/wp-admin/admin-ajax.php';
		var siteurl = 'index.html';
		var themeurl = 'wp-content/themes/cbd/index.html';
	</script>
	<script type="text/javascript">
		var cli_flush_cache = true;
	</script>
	<noscript>
		<style>
			.lazyload[data-src] {
				display: none !important;
			}
		</style>
	</noscript>
	<style>
		.lazyload {
			background-image: none !important;
		}

		.lazyload:before {
			background-image: none !important;
		}
	</style>
	<style type="text/css" id="wp-custom-css">
		.grid-elements>div:nth-of-type(3n+2) {
			top: 0 !important;
		}
	</style>
</head>

<body class="home page-template-default page page-id-110">
	<script data-cfasync="false">var ewww_webp_supported = false;</script>



	<header class="">
		<div class="navbar-top">
			<a class="navbar-brand" href="/">
				<!-- <img src="https://emxo588uoaz.exactdn.com/wp-content/uploads/2021/05/logo.svg" alt="Alvarium Logo"> -->
				<img src="new/klfindia logo.png" alt="KLF Logo">

			</a>

			<nav class="navbar-collapse">

				<ul class="top-mnu">
					<li>
						<a href="/about-us"><span>About Us</span></a>
					</li>
					<li>
						<a href="/services"><span>Services</span></a>
					</li>
					<li>
						<a href="/our-team"><span>Our Team</span></a>
					</li>
					<li>
						<a href="/our-partners"><span>Our Partners</span></a>
					</li>
					<li>
						<a href="/resources"><span>Resources</span></a>
					</li>
					<!-- <li class="menu-item-has-children">
						<a href="javascript:;"><span>Who We Are</span></a>

						<ul class="sub-menu">
							<li class="menu-item"><a href="people/index.html">People</a></li>
							<li class="menu-item"><a href="insights-and-news/index.html">Insights &#038; News</a></li>
							<li class="menu-item"><a href="esg/index.html">ESG</a></li>
							<li class="menu-item"><a href="contact/index.html">Contact</a></li>
						</ul>

					</li> -->
				</ul>

			</nav>

			<div class="header-right-block">
				<a href="/contact-us" class="top-mnu-contact">
					<div class="icon hexagon">
						<svg xmlns="http://www.w3.org/2000/svg" width="16.739" height="11.601"
							viewBox="0 0 16.739 11.601">
							<path
								d="M562.788,368.549q3.314,0,6.627,0a1.649,1.649,0,0,1,1.68,1.27,2.223,2.223,0,0,1,.05.495q0,4.034,0,8.068a1.662,1.662,0,0,1-1.771,1.766h-13.2a1.662,1.662,0,0,1-1.77-1.766q0-4.034,0-8.068a1.662,1.662,0,0,1,1.77-1.765Q559.484,368.548,562.788,368.549ZM565.4,374c-.063.052-.117.1-.168.142q-1.066.94-2.132,1.881c-.278.245-.367.245-.639.005l-2.146-1.894c-.05-.044-.1-.086-.158-.133l-4.67,5.33a1.112,1.112,0,0,0,.716.185h13.217a.974.974,0,0,0,.653-.192Zm-9.66-4.745,7.038,6.212,7.034-6.209C569.589,369.156,555.988,369.152,555.742,369.254Zm-.5.4-.077,0a3.578,3.578,0,0,0-.109.586c-.014.614,0,1.229,0,1.843q0,3.169,0,6.337c0,.122.019.244.034.417l4.607-5.257Zm15.2,9.125.055,0c.008-.131.024-.263.024-.394q0-3.043,0-6.086,0-1.037,0-2.074a.823.823,0,0,0-.182-.573l-4.457,3.934Z"
								transform="translate(-554.409 -368.549)" fill="#fff" />
						</svg>
					</div>
				</a>
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</header>

	