<%- include('common/header-2.ejs'); %>

<section class="s-hero s-btn">
    <div class="container">
        <div class="hero-content coll-2">
            <div class="hero-info">


                <!-- <h5 class="subtitle-block" data-aos="fade-right" data-aos-duration="1200">The investment world is <strong>crowded</strong></h5> -->

                <h1 class="title-section" data-aos="fade-right" data-aos-delay="300"
                    data-aos-duration="1200">Services</h1>

                <div class="hero-caption-block gray" data-aos="fade-right" data-aos-delay="400"
                    data-aos-duration="1200">
                    <div class="hero-caption-inner">

                        <div class="custom-hero-slider swiper-container w-100">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div data-swiper-parallax-y="-50">
                                        <p>Kumar Law Firm, is a full service law firm with a primary focus
                                            towards excellence in legal advice and legal services to be
                                            provided to the clients who are mix of many Banks and companies
                                            including client engaged in a commercial activities.</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- <div class="btn-page-wrap aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <a href="transaction/index.html" class="btn">
                        Completed Transactions									<span><div class="hexagon"></div><div class="arrow"></div></span>
                    </a>
                </div> -->

                        <div class="carousel-custom-navigation-container hero">
                            <div class="carousel-custom-navigation-block coll-2">
                                <div class="swiper-navigation-custom">
                                    <div class="swiper-button-prev"></div>
                                    <div class="current-slide-number">01</div>
                                    <div class="swiper-button-next"></div>
                                </div>
                                <div class="swiper-navigation-custom vertical">
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="hero-banner-right overlay-bottom lazyload" style=""
                data-bg="wp-content/myfiles/aboutus-banner.jpg">

            </div>
        </div>
    </div>
    <div class="block-scroll white" data-scroll="#anchor">
        <div class="scroll-text">Scroll Down</div>
        <div class="scroll-arrow"></div>
    </div>
</section>

<section>
    <div class="container">
        <div class="carousel-custom-content-wrap coll-2">
            <div class="custom-slider swiper-container w-100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="carousel-custom-item" data-swiper-parallax-x="-50">
                            <h2 class="title-section">Arbitration & <br><span>Dispute</span> Resolution</h2>
                            <div>
                                <p>
                                <p>Alvarium Merchant Banking has formed the Next Generation Global Leaders
                                    (NGGL) initiative to provide a programme of events, webinars, insights and
                                    investment opportunities for the next generation of founders, entrepreneurs
                                    and investors.</p>

                                <p>Read about our first NextGen Summer event at Soho Farmhouse <a
                                        style="color: #dcab35; font-weight: 500;"
                                        href="wp-content/uploads/2021/09/Alvarium-NextGen-Summer-Event-at-Soho-Farmhouse.pdf"
                                        target="_blank">here</a></p>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-custom-navigation-container block">
                <div class="swiper-slide">
                    <div class="carousel-custom-item" data-swiper-parallax-x="-50">
                        <h2 class="title-section"></h2>
                        <div>
                            <p>Our programme focuses on three key sectors which we believe are, and will
                                continue to be, at the forefront of thinking for Next Gens today, and which
                                encourage a deeper understanding of our themes:

                            <div class="custom-list" data-aos="fade-up" data-aos-delay="100">
                                <ul>
                                    <li>Positive Impact</li>
                                    <li>The Innovation Economy</li>
                                    <li>Digital Disruption </li>
                                </ul>
                            </div>
                            </p>
                        </div>
                        <div class="btn-page-wrap">
                            <a href="mailto:NextGen@alvariuminvestments.com" class="btn">
                                NextGen@alvariuminvestments.com <span>
                                    <div class="hexagon"></div>
                                    <div class="arrow"></div>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="family-office-service-img-box overlay-dark">
        <img class="parallax-bg-down lazyload"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABhgAAAFoAQAAAACN7MxjAAAAAnRSTlMAAHaTzTgAAABbSURBVHja7cExAQAAAMKg9U9tDB+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB4GhOvAAGIKt1oAAAAAElFTkSuQmCC"
            loading="lazy" alt="img"
            data-src="../emxo588uoaz.exactdn.com/wp-content/uploads/2021/06/hex-pattern-darkd3e2.jpg?strip=all&amp;lossy=1&amp;w=1920&amp;ssl=1"><noscript><img
                class="parallax-bg-down"
                src="../emxo588uoaz.exactdn.com/wp-content/uploads/2021/06/hex-pattern-darkd3e2.jpg?strip=all&amp;lossy=1&amp;w=1920&amp;ssl=1"
                loading="lazy" alt="img" data-eio="l"></noscript>
    </div>
</section>
<%- include('common/footer.ejs'); %>